.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
}

.jxgbox {
    width: 95%;
    height: 95%;
    aspect-ratio: 1 / 1;
    border-radius: 0px;
    /* margin: 10px; */
    border-width: 0px;
}
