.container {
    display: grid;
    align-items: center;
    grid-template-columns: 5fr 10fr 1fr 10fr 1fr 10fr 1fr 10fr;
}

.jxgbox {
    /* border-style: dashed; */
    /* border-radius: 0px; */
    /* margin: 10px; */
    /* border-width: 0px; */
}
      
.arrows {
    font-size: 3vw;
}
      /* .roboto-<uniquifier> { */
      /*     font-family: "Roboto", serif; */
      /*     font-optical-sizing: auto; */
      /*     font-weight: 200; */
      /*     font-style: normal; */
      /*     font-variation-settings: */
      /*         "wdth" 100; */
      /* } */
.controls {
    width: 95%;
    aspect-ratio: 1 / 1;
    border-width: 0px;
}
.graph {
    width: 95%px;
    aspect-ratio: 1 / 1;
    border-radius: 0px;
    margin: 10px;
    border-width: 2px;
}
